.custom-navbar {
    background-color: rgba(0, 0, 0, 0.7);
    /* Negro translúcido */
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

.nav-link {
    color: #ffffff !important;
    margin-left: 15px;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ff8800 !important;
    /* Naranja al pasar mouse */
}

.active {
    color: #ff8800 !important;
    /* Naranja cuando activo */
}