/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/images/fondo-estadio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f8f9fa;
    /* color de respaldo en caso de error */
}

